@import './vars.scss';

.container {
    padding: 5vh 25vw;
    padding-bottom: 20vh;
    background-color: $bg1;

    h1 {
        font-size: 2em;
        margin: 2em 0;
      }
      
    h2 {
        margin: 1.3em 0;
        margin-top: 2em;
        color: $component-bg;
        border: none;
    }

    a:not(.header) {
        color: $text2;
        font-weight: 500;
        border-bottom: 3px solid $text2;

        &:hover {
            border-bottom: 3px solid $component-bg;
        }
    }

    img {
        padding: 15px;
    }
}

@media screen and (min-width: 1px) and (max-width: 1025px) {
    .container {
        padding: 10vw;
    }
}