@import './vars.scss';

.item {
    height: 10vh;
    overflow: visible;
    stroke: #D8DEE9;
    stroke-width: 15;
    stroke-linejoin: round;
    stroke-linecap: round;
    background-size: 10vh 10vh;
}

.container {
    z-index: 3;
    position: relative;
    margin-top: 5.2vh;
    background-color: transparent;

    .signature {
        z-index: -1;
        position: relative;
        margin-left: 38px;
    }

    .name {
        z-index: 1;
        position: relative;
        vertical-align: middle;
        margin-bottom: -5.2vh;
        font-size: 1.3em;
        font-weight: 500;
        color: $component-bg;
        white-space: pre;
    }
}