@import './vars.scss';

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0vh 10vw;

    a {
        margin: 0px 20px;
        font-size: 0.9em;
        font-weight: 500;
    }
    
    div {
        margin-right: 20px;
    }
}