@import './vars.scss';

.container {
    width: 35vw;
    // background-color: $bg2;
    padding: 1vw 2vw;
    border-radius: 15px;
    margin: 1vw;

    .header .desc {
        color: $text1;
    }

    .header {
        font-size: 1.3em;
        font-weight: 600;
    }

    .desc {
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.5;
    }

    .link {
        display: block;
        font-style: italic;
        color: $accent;
        margin-top: 30px;
        font-size: 0.9em
    }
}