@import './vars.scss';

.desc {
    word-wrap: break-all;
    overflow-wrap: anywhere;
}

.container {
    background-color: $bg1;
    padding: 30px 40px;
    border-radius: 15px;
    margin: 10px;
    will-change: transform;
    color: $text1;

    .header .desc {
        color: $text1;
    }

    .date {
        margin: 8px 0px;
        font-size: 1em;
        color: $component-bg;
    }

    
    .desc {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.5;
        word-wrap: break-all;
    }
    
    a.link {
        display: block;
        font-style: italic;
        color: $accent;
        margin-top: 30px;
        font-size: 1.2em;
        font-weight: 500;
        margin: 20px 0px;
    }

    .title {
        font-size: 1.3em;
        font-weight: 600;
        margin: 20px 0px;
        margin-bottom: 0px;
    }
    
    a.category {
        display: inline-block;
        border: none;
        color: $bg1;
        background-color: $component-bg;
        text-decoration: none;
        padding: 8px 10px;
        font-size: 0.8em;
        font-weight: 600;
        font-style: normal;
        border-radius: 300px;
        margin: 0px;
        margin-left: 0px;
        white-space: pre;
    }

    transition: all ease 0.4s;

    &:hover, &:focus {
        transform: scale(1.03);
        box-shadow: $shadow-elevation-high;
    }
}